@font-face {
    font-family: 'Bungee';
    src: url(../res/fonts/bungee/Bungee-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Digital';
    src: url(../res/fonts/digital/digital-7.ttf) format('truetype');
}

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Bungee', system-ui;
}
.calc{
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
    box-shadow: 2px 3px 1px rgb(142, 142, 142);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.8s;
}
.calc:hover{
    transform: scale(1.06);
}
.screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
    height: 20%;
    width: 84%;
    margin: 5%;
    font-family: 'Digital', system-ui;
    transition: all 0.3s;
}
.screen:hover{
    border: 1px solid darkorange;
}
.equation{
    font-size: 1.5rem;
    user-select: none;
}
.result{
    margin-bottom: 3%;
    color: rgb(255, 170, 66);
    vertical-align: text-bottom;
    font-size: 2rem;
    text-align: end;
    user-select: none;
}
.calc button{
    font-size: 1.1rem;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(190, 190, 190);
    flex: 1;
    background-color: transparent;
    font-family: 'Bungee', system-ui;
    color: rgb(236, 236, 236);
    transition: all 0.3s;
    user-select: none;
}
.cmd-btn{
    display: flex;
    width: 90%;
    height: 10%;
    gap: 5%;
}
.input-btn{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    height: 60%;
    width: 90%;
    gap: 5%;
}
.input-btn button{
    width: 21%;
    flex: auto;
}
.calc button:hover{
    border: 1px solid rgb(202, 111, 0);
    background-color: rgb(255, 150, 21);
    box-shadow: 2px 2px 1px rgb(202, 111, 0);
}
button:active{
    transform: scale(0.9);
}